/Admin
/AuthenticationServices
/CoreMessaging
/DDRMenu
/DevicePreviewManagement
/DigitalAssets
/DNNCorp
/DNNModuleDal2
/HTML
/Journal
/MemberDirectory
/MobileManagement
/RazorModules
/SocialGroups
/EasyDNNstyleWizard
/SMSGo.GoogleAnalytics
*.suo
*.suo
*.suo
DnnModules.v12.suo
CustomTemplates/bin/x86/Debug/CustomTemplates.vshost.exe