/Admin
/AuthenticationServices
/CoreMessaging
/DDRMenu
/DevicePreviewManagement
/DigitalAssets
/DNNCorp
/DNNModuleDal2
/HTML
/Journal
/MemberDirectory
/MobileManagement
/RazorModules
/SocialGroups
/EasyDNNstyleWizard
*.suo